/*
// variations to styling required for gutenberg native blocks
// @author Tony Blacker, NHS Leadership Academy
// @version 1.0 22nd July 2019
*/
/* button extension*/
.nhsuk-button.is-style-secondary { /* secondary button style*/
  @extend .nhsuk-button--secondary;
}

.nhsuk-button.is-style-reverse { /* reverse button style*/
  @extend .nhsuk-button--reverse;
}

/* reveal extension*/
.nhsuk-details.is-style-expander { /* expander reveal style*/
  @extend .nhsuk-expander;
}

/*care card extension*/
.wp-block-nhsblocks-card1.nhsuk-care-card.is-style-urgent { /* urgent infocard*/
  @extend .nhsuk-care-card--urgent;
}

.wp-block-nhsblocks-card1.nhsuk-care-card.is-style-immediate { /* urgent infocard*/
  @extend .nhsuk-care-card--immediate;
}

.wp-block-nhsblocks-card1.is-style-warning-callout.nhsuk-care-card,
.nhsuk-care-card.nhsuk-care-card--type.is-style-warning-callout { /* Warning Callout */

  background-color: $color_nhsuk-pale-yellow;
  border: 1px solid $color_nhsuk-yellow;

  .nhsuk-care-card__heading-container{
    background-color: $color_nhsuk-yellow;
    display: inline-block;
    top: -16px;
    margin-bottom: 8px;
    padding: 8px 32px;
    position: relative;

    h3{
      background-color: $color_nhsuk-yellow;
      color: $color_nhsuk-black !important;
    }
    .nhsuk-care-card__heading span{
      color: $color_nhsuk-black;
    }
  }

  .nhsuk-care-card__arrow,
  .nhsuk-care-card__arrow{
    display: none;
  }

  .nhsuk-care-card__content{
    background-color: $color_nhsuk-pale-yellow;
    padding-top: 0;
    border: none;
  }
}

.nhsuk-care-card__heading-container {
  h3 {
    color: $color_nhsuk-white !important;
    margin: 0 !important;
  }
}


/*do and dont list extension*/
.nhsuk-do-dont-list {

  svg.nhsuk-icon {
    width: 35px;
    height: 34px;
  }

}

/* Inset text inverted link amendment */
.nhsuk-inset-text .is-style-quote-reverse {
  .nhsuk-inset-text__quote {
    a {
      color: $color_nhsuk-white;
      font-weight: 700;
    }
  }
}




.nhsuk-hero__overlay {
  margin-bottom: 50px;
  .nhsuk-grid-column-two-thirds {
    padding: 0;
  }
}



.wp-block-nhsblocks-heroblock {
      width: auto;
      margin: 0 calc(-50vw + 50% );
}

// new card variations
.nhsuk-card {
  .nhsuk-card__description {
    display: flow-root;
  }
}
.nhsuk-card.is-style-panel-with-label {
  @extend .nhsuk-card--feature;
  .nhsuk-card__content {
    @extend .nhsuk-card__content--feature;

    h2 {
      @extend .nhsuk-card__heading;
      @extend .nhsuk-card__heading--feature;
      @extend .nhsuk-heading-m;
    }
  }
}
.nhsuk-card.is-style-panel-grey {
  background: inherit;
  border: none;
}
.nhsuk-card {
  figure {
    margin: 0;
  }
}
