/* Error: expected "{".
 *    ,
 * 43 | @import 'assets/scss/comments-and-meta';
 *    |                                        ^
 *    '
 *   style.scss 43:40  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 43 \2502  @import 'assets/scss/comments-and-meta';\a    \2502                                         ^\a    \2575 \a   style.scss 43:40  root stylesheet";
}
