/* Error: Can't find stylesheet to import.
 *    ,
 * 48 | @import 'components/care-card/care-card';
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/scss/nhsuk-replacement-gutenberg.scss 48:9  @import
 *   style-gutenburg.scss 3:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 48 \2502  @import 'components/care-card/care-card';\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/scss/nhsuk-replacement-gutenberg.scss 48:9  @import\a   style-gutenburg.scss 3:9                           root stylesheet";
}
