/* Error: "+" and "-" must be surrounded by whitespace in calculations.
 *     ,
 * 105 |       width: calc(100vw -20px);
 *     |                         ^
 *     '
 *   assets/scss/nhsblocks/style_variations.scss 105:25  @import
 *   style.scss 64:9                                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "+" and "-" must be surrounded by whitespace in calculations.\a     \2577 \a 105 \2502        width: calc(100vw -20px);\a     \2502                          ^\a     \2575 \a   assets/scss/nhsblocks/style_variations.scss 105:25  @import\a   style.scss 64:9                                     root stylesheet';
}
