#cookie-notice {
  position       : fixed;
  min-width      : 100%;
  height         : auto;
  padding        : nhsuk-spacing(3) 0;
  z-index        : 100000;
  letter-spacing : 0;
  left           : 0;
  text-align     : center;
  border-top     : nhsuk-spacing(1) solid $color_nhsuk-dark-blue;
  font-weight    : normal;

  .cookie-notice-container {
	@extend .nhsuk-width-container;
	padding: 0;
	background : $color_nhsuk-white !important;
	@extend .nhsuk-heading-s;

	.cn-text-container {
	  color : $color_nhsuk-dark-blue !important;
	  text-align: left;
	}


	#cn-notice-buttons {
	  display : block;
	  text-align: right;

	  .cn-button.bootstrap {
		@extend .nhsuk-button;
		background    : $nhsuk-button-color;
		margin-bottom : 0;

		&.cn-more-info {
		  @extend .nhsuk-button--secondary;
		}
	  }
	}
	.cn-close-icon {
	  opacity: 1;
	  top: nhsuk-spacing(3);
	  &:after, &:before {
		background-color: $color_nhsuk-black;
		height: nhsuk-spacing(6);
	  }
	  &.focus-visible {
		height: nhsuk-spacing(6);
		width: nhsuk-spacing(6);
	  }
	}
  }

}
