/* ==========================================================================
   COMPONENTS / #EMERGENCY-ALERT
   ========================================================================== */

/**
 * 1. Use inverted link colours due to the yellow
 *    ($color_nhsuk-yellow) background.
 */

@mixin nhsuk-link-style-inverted {
  color : $nhsuk-link-color;

  &:focus {
	background-color : $color_shade_nhsuk-blue-35;
	box-shadow       : 0 0 0 4px $color_shade_nhsuk-blue-35;
	color            : $color_nhsuk-white;
	outline          : $nhsuk-focus-width solid transparent;
	outline-offset   : $nhsuk-focus-width;
  }

  &:hover {
	background-color : $color_nhsuk-blue;
	box-shadow       : 0 0 0 4px $color_nhsuk-blue;
	color            : $color_nhsuk-white;
  }

  &:active {
	background-color : $color_shade_nhsuk-blue-50;
	box-shadow       : 0 0 0 4px $color_shade_nhsuk-blue-35;
	color            : $color_nhsuk-white;
  }
}

.nhsuk-global-alert {
  @include print-hide();
  background-color : $color_nhsuk-yellow;
  padding-bottom   : nhsuk-spacing(4);
  padding-top      : nhsuk-spacing(4);

  a {
	@include nhsuk-link-style-inverted; /* [1] */
  }
}

.nhsuk-global-alert__content {
  @include top-and-bottom;
  position : relative;
  margin   : 0 nhsuk-spacing(3);
}
