/* Events Calendar Styles */
#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template {
  padding: 0;
}

.tribe-common {

  div.nhsuk-grid-column-two-thirds {
	padding-left : 0;
  }

  .nhsuk-radios {
	.nhsuk-radios__item {
	  margin : nhsuk-spacing(2) 0;

	  label {
		padding : nhsuk-spacing(2) nhsuk-spacing(3) nhsuk-spacing(1) nhsuk-spacing(6);
	  }
	}
  }

  .nhsuk-checkboxes {
	.nhsuk-checkboxes__item {
	  margin : nhsuk-spacing(2) 0;

	  label {
		padding : nhsuk-spacing(2) nhsuk-spacing(3) nhsuk-spacing(1) nhsuk-spacing(8);
	  }
	}
  }

  span.nhsuk-action-link__text {
	margin-left : nhsuk-spacing(6);
  }

  .nhsuk-card-group {

	div.nhsuk-grid-column-one-third, div.nhsuk-grid-column-one-half, div.nhsuk-grid-column-two-thirds {
	  padding       : 0 nhsuk-spacing(3);
	  margin-bottom : nhsuk-spacing(4);
	}

	div.nhsuk-card__content {
	  padding : nhsuk-spacing(4);
	  color   : $color_nhsuk-dark-grey;

	}

  }
}

.tribe-events .tribe-events-c-top-bar__datepicker {
  display     : flex;
  align-items : center;

  span {
	line-height   : 1.5;
	padding-right : nhsuk-spacing(2);

  }
}

.tribe-events-c-top-bar .tribe-topbar-prefix {
  margin-right : nhsuk-spacing(2);
}


.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input {
  padding      : nhsuk-spacing(5);
  margin-right : nhsuk-spacing(2);
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-group {
  margin-right : nhsuk-spacing(2);
}

.nhsuk-card__content .tribe-events-calendar-list__event-datetime {
  float   : left;
  display : block;

  span.tribe-event-date-end {
	display : block;
  }
}

.tribe-common .nhsuk-card-group .event-meta,
.event-meta {
  margin-bottom : nhsuk-spacing(3);

  .single-tribe_events & {
	margin-bottom : nhsuk-spacing(4);
  }
}

.tribe-events-address,
.tribe-events-calendar-list__event-datetime {
  font-size     : $nhsuk-base-font-size;
  margin-bottom : 0;
}

.event-date-time {
  @include clearfix();
}

.event-date-time,
.venue-address,
.events-cost,
.event-categories {

  font-size : $nhsuk-base-font-size;

  .nhsuk-icon {
	float        : left;
	width        : nhsuk-spacing(3);
	height       : nhsuk-spacing(3);
	margin-right : nhsuk-spacing(2);
  }
}

.event-categories {

  @include clearfix();

  ul {
	position : relative;
	top      : -2px;
  }

  li {
	display      : inline-block;
	font-size    : $nhsuk-base-font-size;
	float        : left;
	margin-right : nhsuk-spacing(1);
  }
}

.tribe-events-header__top-bar {
  .events-dropdown {
	font-size     : $nhsuk-base-font-size;
	padding-right : nhsuk-spacing(2);
	margin-top    : nhsuk-spacing(2);

	@media screen and (min-width : 832px) {
	  margin-top : 0px;
	}
  }
}

.tribe-events .tribe-events-header {
  align-items : flex-end;
}

.tribe-events .tribe-events-c-events-bar__search-filters-container {

  @media screen and (min-width : 832px) {

	background-color : transparent;

	.tribe-events-c-search__input {
	  background-color : transparent;
	}

  }

}

.tribe-common--breakpoint-medium.tribe-events .tribe-common-c-btn.tribe-events-c-search__button {
	background-color: $color_nhsuk-green;
	color: $color_nhsuk-white;
	outline: none;
	&:focus{
		background-color: $color_nhsuk-yellow;
		color: $color_nhsuk-black;
		outline: none;
	}
	&:hover{
		background-color: $color_nhsuk-dark-green;
		color: $color_nhsuk-white;
		outline: none;
	}
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__today-button {
	outline: none;
	box-shadow: 0 4px 0 $color-nhsuk-black;
	border: 2px solid transparent;
    border-radius: 4px;
	&:focus{
		background-color: $color_nhsuk-black;
		color: $color_nhsuk-white;
		outline: none;
	}
	&:hover{
		background-color: $color_nhsuk-white;
		color: $color_nhsuk-black;
		outline: none;
	}
	&:active{
		background-color: $color_nhsuk-black;
		color: $color_nhsuk-white;
		outline: none;
	}
}

#rsvp-now {
  .tribe-tickets__rsvp-wrapper {
	max-width : 100%;
  }
}

.single-tribe_events {

  .tribe-events-single-event-description {
	margin-top    : nhsuk-spacing(5);
	margin-bottom : nhsuk-spacing(5);
  }

  .nhsuk-card__img {
	margin-bottom : nhsuk-spacing(3);
  }

  .tribe-events-single-event-title {
	margin-bottom : nhsuk-spacing(5);
  }
}

.nowrap {
  white-space : nowrap;
}

/* Events Tickets Styles - only applies if Events > Settings > Display > Enable New RSVP Experience is not selected */


.tribe-tickets-rsvp {

  .tribe-events-tickets {
	background-color : transparent;
  }

  select {
	@extend .nhsuk-select;
  }

  .tribe-events-tickets input[type=text],
  .tribe-events-tickets input[type=email],
  .tribe-events-tickets select {

	width : 100%;

  }

}

/* Events Widgets */

.widget-area ol.tribe-list-widget {

  list-style : none;

  .tribe-clearfix:before {
	display : none;
  }

}

/* embedded events */
html.js { // only hit embedded content. Wordpress doesnt make this easy to filter.
  .tribe-events-page-template.wp-embed-responsive {
	color      : inherit;
	background : inherit;
	padding    : 0;

	.wp-embed {
	  background : inherit;
	  padding    : 0;
	  font-size  : $nhsuk-base-font-size;

	  &.nhsuk-care-card {
		margin-top : 20px;

		.nhsuk-care-card__heading a {
		  color : $color_nhsuk-white;
		}

		.tribe-events-event-cost {
		  position : absolute;
		  right    : nhsuk-spacing(4);
		  bottom   : nhsuk-spacing(4);

		  span {
			display : none;
		  }
		}

		.tribe-events-single-event-description {
		  margin-right : 100px;
		}

		.wp-embed-footer {
		  display : none;
		}
	  }
	}
  }
}
.tribe-events .tribe-events-c-top-bar__datepicker-form .tribe-events-c-top-bar__datepicker {
  color: $color_nhsuk-dark-grey;
}
/* Event datetime header */
.tribe-events-schedule__datetime * {
	color : $color_nhsuk-dark-grey;
}
