.nhsuk-panel-group {
  margin-left  : 0;
  margin-right : 0;
}

//extend the native image class
.nhsuk-image {
  img {
	@extend .nhsuk-image__img;
	width     : unset;
	max-width : 100%;
  }

  figcaption {
	@extend .nhsuk-image__caption;
  }
}

.nhsuk-textarea {
  min-height : 10rem;
  width      : 100%;
}

//end image extending

//when button is a link, something goes wonky
.nhsuk-button--reverse:visited {
  color : $color_nhsuk-black;
}

//pagination modification
.nhsuk-pagination {
  .nhsuk-pagination__list {
	.nhsuk-pagination-item--previous, .nhsuk-pagination-item--next {
	  width : 30%;
	}

	.nhsuk-pagination-item {
	  width : 8%;
	  float : left;
	}

	.nhsuk-pagination__link:hover {
	  box-shadow : 0 0 0 nhsuk-spacing(1) $nhsuk-focus-color inset;
	}
  }
}

.gallery-caption {
  @extend .nhsuk-image__caption;
}

.is-style-outline .wp-block-button__link {
  color : $color_nhsuk-blue;
}


#primary {
  h1, p, .nhsuk-pagination__page {
	-ms-word-wrap : break-word;
	word-wrap     : break-word;
  }

  footer {
	.edit-link {
	  text-decoration : none;
	  a {
		color : $color_nhsuk-blue;
	  }
	}
  }
}



#cookie-notice {
  position : fixed;
  left     : 0;
  bottom   : 0;
  width    : 100%;
}


#primary {
  .page-content { // search within content area needs some special treatment
	.nhsuk-header__search-toggle, .nhsuk-search__close {
	  display : none;
	}
  }

  .widget-title {
	a {
	  color           : $color_nhsuk-white;
	  text-decoration : none;
	}
  }
}

.nhsuk-content__clearfix {
  clear      : both;
  margin-top : 1.5rem;
}

// fix middle of three blocks so it is the same width as outside blocks.
.nhsuk-grid-row {
  &.nhsuk-width-restrict {
	margin-left  : 0;
	margin-right : 0;
	background   : $color_nhsuk-grey-5;
  }
}

.interim-login {
  header, footer {
	display : none;
  }
}


// featured image display variations
.single-post {
  #content {
	#maincontent {
	  #contentinner {
		#primary {
		  .featured-top {
			width : 100%;

			.nhsuk-image {
			  img {
				margin-bottom : nhsuk-spacing(4);
			  }
			}
		  }

		  .featured-left {
			float        : left;
			width        : 33%;
			margin-right : nhsuk-spacing(3);
		  }

		  .featured-right {
			float       : right;
			width       : 33%;
			margin-left : nhsuk-spacing(3);
		  }
		}
	  }
	}
  }

}

/* Menu item right chevron (mobile): fix color when state is focus */
a:focus .nhsuk-icon {
  fill : $color_nhsuk-grey-1 !important;
}

.nhsuk-action-link__link + div {
	margin-left: 34px;
}
// .nhsuk-header__navigation-item {
//     border-top: none;
// }
.nhsuk-navigation-container {
	.nhsuk-navigation {
		.nhsuk-icon__chevron-down {
			fill: $color_nhsuk-white;
		}
	}
}

@media (max-width: 40.0525em) {
	.nhsuk-search__submit {
		background-color: #f0f4f5;
		border: 0;
		margin: 0;
		padding: 8px 8px 0;
		position: absolute;
		right: 0;
		top: auto;
		height: 40px;
		z-index: 9;
	}
	.nhsuk-header__search-form {
        padding: 16px 0 0 0;
    }
	.nhsuk-header__search-wrap {
        display: block;
    }
}


@media (min-width: 40.0625em) {
	.nhsuk-header__container {
        justify-content: normal;
    }
	.nhsuk-header__transactional-service-name {
		padding-left: 28px;
		width: 100%;
	}
    // .nhsuk-header__search {
    //     margin-left: 0px;
    //     width: 100%;
    // }
	.nhsuk-header__content {
		width: 100%;
	}
}
@media (min-width: 48.0625em) {
    .nhsuk-header--organisation .nhsuk-header__link {
        max-width: 500px;
        width: max-content;
    }
}
