.nhsuk-panel-group {
  margin-left  : 0;
  margin-right : 0;
}

//extend the native image class
.nhsuk-image {
  img {
	@extend .nhsuk-image__img;
	width     : unset;
	max-width : 100%;
  }

  figcaption {
	@extend .nhsuk-image__caption;
  }
}

.nhsuk-textarea {
  min-height : 10rem;
  width      : 100%;
}

//end image extending

//when button is a link, something goes wonky
.nhsuk-button--reverse:visited {
  color : $color_nhsuk-black;
}

//pagination modification
.nhsuk-pagination {
  .nhsuk-pagination__list {
	.nhsuk-pagination-item--previous, .nhsuk-pagination-item--next {
	  width : 30%;
	}

	.nhsuk-pagination-item {
	  width : 8%;
	  float : left;
	}

	.nhsuk-pagination__link:hover {
	  box-shadow : 0 0 0 nhsuk-spacing(1) $nhsuk-focus-color inset;
	}
  }
}

.gallery-caption {
  @extend .nhsuk-image__caption;
}

.is-style-outline .wp-block-button__link {
  color : $color_nhsuk-blue;
}


#primary {
  h1, p, .nhsuk-pagination__page {
	-ms-word-wrap : break-word;
	word-wrap     : break-word;
  }

  footer {
	.edit-link {
	  text-decoration : none;
	  a {
		color : $color_nhsuk-blue;
	  }
	}
  }
}


#login #loginform .user-login:focus, #login #loginform .user_pass:focus, .learndash-wrapper .wpProQuiz_content input:focus[type=text], .nhsuk-input:focus, .nhsuk-list-panel .comment-respond input:focus[type=text], input:focus[type=color], input:focus[type=date], input:focus[type=datetime-local], input:focus[type=datetime], input:focus[type=email], input:focus[type=month], input:focus[type=number], input:focus[type=password], input:focus[type=range], input:focus[type=search], input:focus[type=tel], input:focus[type=text]:not(.nhsuk-search__input), input:focus[type=time], input:focus[type=url], input:focus[type=week], textarea:focus {
  box-shadow : 0 0 0 nhsuk-spacing(1) $color_nhsuk-yellow;
}

.nhsuk-search__input#search-field {
  width : 15rem;
}

#cookie-notice {
  position : fixed;
  left     : 0;
  bottom   : 0;
  width    : 100%;
}


#primary {
  .page-content { // search within content area needs some special treatment
	.nhsuk-header__search-toggle, .nhsuk-search__close {
	  display : none;
	}


	.nhsuk-header__search-wrap {
	  display       : inline-block;
	  width   : 100%;
	  .nhsuk-search__input {
		border        : $nhsuk-border-width-form-element solid $color_nhsuk-grey-5;
		border-radius : $nhsuk-border-radius 0px 0px $nhsuk-border-radius;
		float         : left;
		max-width     : 80%;
		margin    : 16px 0 0 5%;
	  }
	}
	@media (max-width : 40.0525em) {
	  .nhsuk-header__search-wrap {
		.nhsuk-search__input {
		  max-width : 73%;
		  margin    : 0;
		  height    : 52px;
		}


	  }
	}
  }

  .widget-title {
	a {
	  color           : $color_nhsuk-white;
	  text-decoration : none;
	}
  }
}

.nhsuk-content__clearfix {
  clear      : both;
  margin-top : 1.5rem;
}

// fix middle of three blocks so it is the same width as outside blocks.
.nhsuk-grid-row {
  &.nhsuk-width-restrict {
	margin-left  : 0;
	margin-right : 0;
	background   : $color_nhsuk-grey-5;
  }
}

.interim-login {
  header, footer {
	display : none;
  }
}


// featured image display variations
.single-post {
  #content {
	#maincontent {
	  #contentinner {
		#primary {
		  .featured-top {
			width : 100%;

			.nhsuk-image {
			  img {
				margin-bottom : nhsuk-spacing(4);
			  }
			}
		  }

		  .featured-left {
			float        : left;
			width        : 33%;
			margin-right : nhsuk-spacing(3);
		  }

		  .featured-right {
			float       : right;
			width       : 33%;
			margin-left : nhsuk-spacing(3);
		  }
		}
	  }
	}
  }

}

/* Menu item right chevron (mobile): fix color when state is focus */
a:focus .nhsuk-icon {
  fill : $color_nhsuk-grey-1 !important;
}
