.nhsuk-width-container--full {
  max-width : none;
}

.nhsuk-panel-group {
  margin-left  : 0;
  margin-right : 0;
}

//extend the native image class
.nhsuk-image {
  img {
	@extend .nhsuk-image__img;
	width     : unset;
	max-width : 100%;
  }

  figcaption {
	@extend .nhsuk-image__caption;
  }
}

.nhsuk-textarea {
  min-height : 10rem;
  width      : 100%;
}

//end image extending
//style default button as secondary button
#content {
  a.wp-block-button__link, .wp-block-file__button, .wp-block-file a.wp-block-file__button, .wp-block-file a.wp-block-file__button:active, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited {
	@extend .nhsuk-button;
	border-radius : $nhsuk-border-radius;
	background    : $nhsuk-button-color;
	position      : relative;
	top           : -nhsuk-spacing(2);
	margin-bottom : nhsuk-spacing(3);
	color         : $nhsuk-button-text-color;
  }
}

//when button is a link, something goes wonky
.nhsuk-button--reverse:visited {
  color : $color_nhsuk-black;
}

// disabling search suggest. I really dont like doing this, but the nhsuk frontend library uses a paid service for indexing and the search suggest leverages this feed rather than a website specific one.
.autocomplete__menu--visible {
  display : none;
}

//pagination modification
.nhsuk-pagination {
  .nhsuk-pagination__list {
	.nhsuk-pagination-item--previous, .nhsuk-pagination-item--next {
	  width : 30%;
	}

	.nhsuk-pagination-item {
	  width : 8%;
	  float : left;
	}

	.nhsuk-pagination__link:hover {
	  box-shadow : 0 0 0 nhsuk-spacing(1) $nhsuk-focus-color inset;
	}
  }
}

.gallery-caption {
  @extend .nhsuk-image__caption;
}

.sticky {
  @extend .nhsuk-panel;
}

.is-style-outline .wp-block-button__link {
  color : $color_nhsuk-blue;
}

.nhsuk-pill-standard {
  border-radius    : $nhsuk-border-radius;
  border           : $nhsuk-border-width-form-element solid;
  background-color : $color_nhsuk-white;
  text-align       : center;
  padding          : nhsuk-spacing(1) nhsuk-spacing(3);
  width            : fit-content;
  text-transform   : uppercase;
  font-weight      : $nhsuk-font-bold;
  letter-spacing   : .5px;
  font-size        : 0.75rem;
  line-height      : 1.1;
  display          : inline-block;
  position         : relative;
  top              : -nhsuk-spacing(1);
  border-color     : $color_nhsuk-grey-1;
  color            : $color_nhsuk-grey-1;
}

.nhsuk-pill-notice {
  @extend .nhsuk-pill-standard;
  border-color : $color_nhsuk-blue;
  color        : $color_nhsuk-blue;
}

.nhsuk-pill-success {
  @extend .nhsuk-pill-standard;
  border-color : $color_nhsuk-green;
  color        : $color_nhsuk-green;
}

.nhsuk-pill-warn {
  @extend .nhsuk-pill-standard;
  border-color : $color_nhsuk-red;
  color        : $color_nhsuk-red;
}

#primary {
  h1, p, .nhsuk-pagination__page {
	-ms-word-wrap : break-word;
	word-wrap     : break-word;
  }

  .nhsuk-search__submit {
	float      : left;
	margin-top : nhsuk-spacing(3);
  }

  @media(max-width : 48.025em) {
	.nhsuk-search__submit {
	  margin-top : 0;
	}
  }

  footer {
	.edit-link {
	  @extend .nhsuk-pill-standard;
	  text-decoration : none;
	  /*margin-left: nhsuk-spacing(4);*/

	  a {
		color : $color_nhsuk-grey-1;
	  }
	}

	.tags-links, .cat-links {
	  @extend .nhsuk-pill-notice;
	}
  }
}

#login #loginform .user-login:focus, #login #loginform .user_pass:focus, .learndash-wrapper .wpProQuiz_content input:focus[type=text], .nhsuk-input:focus, .nhsuk-list-panel .comment-respond input:focus[type=text], input:focus[type=color], input:focus[type=date], input:focus[type=datetime-local], input:focus[type=datetime], input:focus[type=email], input:focus[type=month], input:focus[type=number], input:focus[type=password], input:focus[type=range], input:focus[type=search], input:focus[type=tel], input:focus[type=text], input:focus[type=time], input:focus[type=url], input:focus[type=week], textarea:focus {
  box-shadow : inset 0 0 0 nhsuk-spacing(1) $color_nhsuk-yellow;
}

.nhsuk-search__input#search-field {
  width : 15rem;
}

#cookie-notice {
  position : fixed;
  left     : 0;
  bottom   : 0;
  width    : 100%;
}

#secondary {
  section.widget_search {
	background    : none;
	padding-left  : 0;
	padding-right : 0;
  }

  .nhsuk-header__search-wrap {
	padding : nhsuk-spacing(4) 0;


	.nhsuk-search__input {
	  border        : $nhsuk-border-width-form-element solid $color_nhsuk-grey-3;
	  border-radius : $nhsuk-border-radius 0px 0px $nhsuk-border-radius;
	  float         : left;
	  max-width     : 80%;

	}

	.nhsuk-search__submit {
	  border      : $nhsuk-border-width-form-element solid $color_nhsuk-grey-3;
	  border-left : none;
	  margin-top  : 0;
	  float       : left;
	  box-shadow  : 0 !important;
	}

	.nhsuk-header__search-toggle {
	  background-color : $color_nhsuk-grey-5;
	  border-color     : $color_nhsuk-blue;
	  color            : $color_nhsuk-blue;

	  .nhsuk-icon__search {
		fill : $color_nhsuk-blue;
	  }
	}

	.nhsuk-header__search-toggle.is_active {
	  background-color : $color_nhsuk-blue;
	  color            : $color_nhsuk-white;

	  .nhsuk-icon__search {
		fill : $color_nhsuk-white;
	  }
	}
  }
}


@media (min-width : 40.0625em) {
  .nhsuk-search__submit {
	padding-top : 6px;
	margin-top  : 0;
  }
}

#primary {
  .page-content {
	.nhsuk-header__search-toggle, .nhsuk-search__close {
	  display : none;
	}


	.nhsuk-header__search-wrap {
	  padding       : nhsuk-spacing(2) nhsuk-spacing(4);
	  display       : inline-block;
	  width         : 80%;
	  border        : $nhsuk-border-width-form-element solid $color_nhsuk-blue;
	  border-radius : $nhsuk-border-radius;

	  .nhsuk-search__input {
		border        : $nhsuk-border-width-form-element solid $color_nhsuk-grey-5;
		border-radius : $nhsuk-border-radius 0px 0px $nhsuk-border-radius;
		float         : left;
		max-width     : 80%;

	  }


	  .nhsuk-header__search-toggle {
		background-color : $color_nhsuk-grey-5;
		border-color     : $color_nhsuk-blue;
		color            : $color_nhsuk-blue;

		.nhsuk-icon__search {
		  fill : $color_nhsuk-blue;
		}
	  }

	  .nhsuk-header__search-toggle.is_active {
		background-color : $color_nhsuk-blue;
		color            : $color_nhsuk-white;

		.nhsuk-icon__search {
		  fill : $color_nhsuk-white;
		}
	  }
	}
  }

  .widget-title {
	a {
	  color           : $color_nhsuk-white;
	  text-decoration : none;
	}
  }
}

.nhsuk-content__clearfix {
  clear      : both;
  margin-top : 1.5rem;
}

.nhsuk-readmore {
  float : right;
}

.error404 #primary .page-content, .search-no-results #primary .page-content {
  .nhsuk-header__search-wrap {
	padding : 5px;
	width   : 100%;
  }

  .nhsuk-header__search-form {
	display : block;
	padding : 0;
  }

  .nhsuk-header__search-wrap {
	.nhsuk-search__input {
	  float     : left;
	  max-width : 80%;
	  margin    : 16px 0 0 5%;
	}


  }

  @media (max-width : 40.0525em) {
	.nhsuk-header__search-wrap {
	  border  : 0;
	  padding : 0;

	  .nhsuk-search__input {
		float     : left;
		max-width : 73%;
		margin    : 0;
		height    : 50px;
	  }


	}
  }
}

// fix middle of three blocks so it is the same width as outside blocks.
.nhsuk-grid-row {
  &.nhsuk-width-restrict {
	margin-left  : 0;
	margin-right : 0;
	background   : $color_nhsuk-grey-5;
  }

  .nhsuk-panel-group {
	.nhsuk-grid-column-one-third:nth-of-type(3n+1) {
	  padding : 0 8px;
	}
  }
}

.interim-login {
  header, footer {
	display : none;
  }
}

