//Gravity forms gumpfh
.gform_heading {
  .gform_description {
	font-size   : 1rem;
	font-weight : $nhsuk-font-bold;
  }
}
#ui-datepicker-div {
  background: white;
  padding: 0 nhsuk-spacing(3);
  border: 1px solid $color_nhsuk-mid-grey;
  border-radius: 4px;
}
.tingle-modal-box {
  .ginput_container_checkbox {
	@extend .nhsuk-checkboxes !optional;

	.gfield_checkbox {
	  li {
		@extend .nhsuk-checkboxes__item;

		label {
		  @extend .nhsuk-label;
		  @extend .nhsuk-checkboxes__label;
		  padding-left : 50px;
		}

		input {
		  @extend .nhsuk-checkboxes__input;
		}
	  }
	}
  }

  .ginput_container_radio {
	@extend .nhsuk-radios !optional;

	.gfield_radio {
	  li {
		@extend .nhsuk-radios__item;

		input {
		  @extend .nhsuk-radios__input;
		}

		label {
		  @extend .nhsuk-label;
		  @extend .nhsuk-radios__label;
		  padding-left : 50px;
		}
	  }
	}
  }
}

.gform_wrapper {
  margin-top : 0 !important;

  fieldset {
	border: 0;
	margin: nhsuk-spacing(3) 0;
  }

  .gf_progressbar_wrapper {
	.gf_progressbar {
	  border-radius    : $nhsuk-border-radius;
	  background-color : $color_nhsuk-white;
	  padding          : nhsuk-spacing(2);

	  .percentbar_blue {
		background-color : $color_nhsuk-blue;
	  }

	  .gf_progressbar_percentage {
		border-radius    : $nhsuk-border-radius;
		background       : linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
		background-color : $color_nhsuk-blue;

		span {
		  font-size   : $nhsuk-base-font-size;
		  font-family : $nhsuk-font, $nhsuk-font-fallback;
		}
	  }

	  &:after {
		border-radius : $nhsuk-border-radius;
	  }
	}
  }

  .gform_body {

	.gform_fields {
	  .gfield.gfield_html {
		dl.nhsuk-summary-list {
		  background   : $color_nhsuk-white;
		  padding      : nhsuk-spacing(4);
		  padding-left : nhsuk-spacing(4);
		}
	  }

	  @include mq($from : large-desktop) {
		.gsurvey-survey-field {
		  .gsurvey-likert {
			.nhsuk-likert {
			  border    : 1px solid $color_nhsuk-grey-2;
			  margin    : 0 auto;
			  max-width : 100%;

			  .nhsuk-likert__row {
				display          : flex; /* direction row by default, the cells will be side by side to start */
				flex-direction   : row;
				width            : 100%;
				@include clearfix();
				background-color : white;

				.nhsuk-likert__item:not(.nhsuk-likert__rowlabel) {
				  margin-bottom : 0;
				}

				.nhsuk-likert__rowlabel {
				  font-weight : bold;
				  padding     : nhsuk-spacing(4) nhsuk-spacing(3);
				}

				&.nhsuk-likert__header {
				  .nhsuk-likert__item {
					background  : $color_nhsuk-blue;
					color       : $color_nhsuk-white;
					border      : none;
					font-weight : 700;
					padding     : 0 nhsuk-spacing(3);
				  }
				}

				&:nth-of-type(odd) {
				  background : $color_nhsuk-grey-5;
				}
			  }

			  .nhsuk-likert__item {
				padding         : nhsuk-spacing(4) nhsuk-spacing(3);
				margin-right    : 0;
				display         : flex; /* yep, the cells can get flexbox layout too */
				flex            : 1;
				flex-direction  : column; /* each cell will have its content laid out vertically */
				align-items     : center; /* centers content horizontally */
				justify-content : center; /* centers content vertically */
				border-left     : 1px solid $color_nhsuk-grey-4;

				.nhsuk-radios__label {
				  padding-left : 0;

				  &:before {
					top  : calc(50% - 20px);
					left : calc(50% - 20px);
				  }

				  &:after {
					top  : calc(50% - 10px);
					left : calc(50% - 10px);
					// absolute values as radio position changed so the active dot needs to be centred, unable to use nhsuk variables.
				  }
				}

				&:last-of-type() {
				  margin-right : 0;
				}
			  }

			  &.nhsuk-likert__multi {
				.nhsuk-likert__row {
				  .nhsuk-likert__item:first-of-type() {
					flex : 3;
					min-width: 250px;
				  }
				}
			  }
			}
		  }
		}
	  }
	  @include mq($until : large-desktop) {
		.gsurvey-survey-field {
		  .gsurvey-likert {
			.nhsuk-likert {
			  .nhsuk-likert__row {
				@include clearfix();
				padding: nhsuk-spacing(3) 0;
				border-top: 1px solid $color_nhsuk-grey-4;
				&.nhsuk-likert__header {
				  display : none;
				}
				.nhsuk-likert__item {
				  @include clearfix();
				  .nhsuk-radios__label {
					.nhsuk-u-visually-hidden {
					  position: relative;
					  clip: unset;
					  clip-path: unset;
					}
				  }
				  &.nhsuk-likert__rowlabel {
					font-weight: 700;

				  }
				}
			  }
			}
		  }
		}
	  }
	}

	.address_city, .address_state {
	  width : 50%;
	  float : left;
	}

	.address_city {
	  padding-right : nhsuk-spacing(2);
	}

	.address_state {
	  padding-left : nhsuk-spacing(2);
	}

	ul.gform_fields {
	  list-style   : none;
	  margin-left  : 0;
	  padding-left : 0;

	  li.gfield {
		.ginput_container {
		  input:read-only, select:read-only {
			background-color : inherit;
			border           : 1px solid $color_nhsuk-mid-grey;
		  }
		}

		.ginput_preview {
		  clear   : both;
		  padding : nhsuk-spacing(2) 0;

		  strong {
			padding-left : nhsuk-spacing(3);
		  }
		}
	  }
	}

	.nhsuk-required-message {
	  font-weight  : $nhsuk-font-bold;
	  font-style   : italic;
	  padding-left : nhsuk-spacing(4);
	}

	.nhsuk-textarea {
	  min-height : 200px;
	}

	.gform_hidden {
	  display : none;
	}

	.gform_wrapper {

	  li.gfield fieldset {
		.nhsuk-textarea {
		  width : 100%;
		}
	  }

	}

	ul.ui-sortable {
	  list-style-type : none;
	}

	.gsurvey-rating {
	  direction : rtl;

	  &:not(:checked) > label {
		width           : 40px;
		height          : 40px;
		background-size : 35px 35px;
		font-size       : 0 !important;
		float           : none;
		display         : inline-block;
		position        : relative;

		&:hover, .gsurvey-rating:not(:checked) > label:hover ~ label {
		  background-size : 35px 35px;
		}
	  }

	  > input:checked ~ label {
		background-size : 35px 35px;
		font-size       : 0 !important;
		float           : none;
		display         : inline-block;
		position        : relative;
	  }

	  &:after {
		clear : both;
	  }
	}

	.ginput_container_name, .clear-multi {
	  display : flex;

	  span, .ginput_container {
		padding : nhsuk-spacing(2) nhsuk-spacing(3) nhsuk-spacing(2) 0;

		&.name-prefix, &.name-first, &.name-middle, &.name-last, &.name_suffix {
		  display : flex;

		  label {
			padding   : 0 nhsuk-spacing(3) 0 nhsuk-spacing(2);
			font-size : 1.25rem;
			color     : $color_nhsuk-dark-grey;
		  }
		}
	  }
	}


	.gform_delete {
	  float  : left;
	  height : 28px;
	}
  }

  .gform_page_footer {
	padding-top : nhsuk-spacing(5) !important;
	.nhsuk-button--secondary svg path { fill: $color_nhsuk-white;
	}
	.nhsuk-button--secondary {
		float: left;
		margin-right: 20px;
	}
	.gform_next_page_errors_button	{
		font-size: 1rem;
		line-height: 1.75;
		margin-bottom: 28px;
		-webkit-appearance: none;
		background-color: $color_nhsuk-grey-1;
		box-shadow: 0 4px 0 #263139;
		border: 2px solid transparent;
		border-radius: 4px;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-weight: 600;
		margin-top: 0;
		padding: 12px 16px;
		position: relative;
		text-align: center;
		vertical-align: top;
		width: auto;
	}
	.gform_resubmit_button {
		font-size: 1rem;
		line-height: 1.75;
		margin-bottom: 28px;
		-webkit-appearance: none;
		background-color: #007f3b;
		border: 2px solid transparent;
		border-radius: 4px;
		box-shadow: 0 4px 0 #00401e;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-weight: 600;
		margin-top: 0;
		padding: 12px 18px;
		position: relative;
		text-align: center;
		vertical-align: top;
		width: auto;
	}
	// Fix for gravity form submit button when legacy markup is enabled. 
	& > .nhsuk-button {
		font-size: 19px !important;
	}
  }

  #ui-datepicker-div {
	border        : $nhsuk-border-width-form-element solid $color_nhsuk-blue;
	border-radius : $nhsuk-border-radius;
	background    : $color_nhsuk-white;
  }

  .ginput_preview {
	img.gform_delete {
	  padding         : nhsuk-spacing(5) nhsuk-spacing(5) 0px 0px;
	  background      : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABKUlEQVRYhe2Uuw4BQRSGPwqJW6KgU4jeA0jEC2h4Ku8hXkFJiCdYURJR0Ot0FM5kx2TZHTu7QvZPTjYzszP/d85cIFMme42AM3Az4gwM0wAIMldxSgNAmUXtf6tciJFLBXrlHZs410dltZn/9Qr8HIBZ0rC2cwDnygD+EmDvcjHbU78Dmlr7Qswn3RZAmavKdgUiNQCAPrAFWhqEqQYwBzpJAMyk76BBmOae/DNPAqAELKT/CLQN842MeUDdFiCqSjyy0yH0zCOZxwEAKANL/O2wylzpJJN6MSBW+IlsTPOwh2gi37W2SFhcgYHMKwI1bb0qULHJoACM8SthY17nec9VJV7dDqcKOnDvbodz81cHLhUIdf08gTFVwd+OZRIAHYEIMtchpkDrDvRKkk0dBvEBAAAAAElFTkSuQmCC);
	  background-size : auto;
	  width           : 0px;
	  height          : 0px;
	}
  }
}


@media only screen and (max-device-width : 799px) {
  .gform_wrapper {
	.gform_body {
	  .ginput_container {
		.gsurvey-rating {
		  &:not(:checked) > label {
			background-size : 28px 28px;
			width           : 30px;
			height          : 30px;

		  }

		  & > input > checked ~ label {
			background-size : 28px 28px;
		  }
		}
	  }
	}
  }
}

.gv-datatables-container {
  .gv-field-label {
	word-break : normal;
  }
}

// Gravity view approval styling
.tippy-popper {
  .tippy-content {
	margin-top : nhsuk-spacing(2);

	.gv-approval-toggle {
	  border        : 0;
	  margin-bottom : nhsuk-spacing(3);
	  display       : block !important;

	  &:before {
		word-break  : initial;
		width       : fit-content;
		position    : relative;
		border      : 0;
		padding     : unset;
		font-size   : $nhsuk-base-font-size;
		font-family : $nhsuk-font, $nhsuk-font-fallback;
		color       : white;
	  }

	  @extend .nhsuk-button;

	  &:hover {
		background : $color_nhsuk-light-grey;

		&:before {
		  color           : $color_nhsuk-black;
		  text-decoration : underline;
		}
	  }

	  &.gv-approval-approved {
		&:before {
		  content : '\2713 \00A0 Approve';
		}

	  }

	  &.gv-approval-disapproved {
		background : $color_nhsuk-red;

		&:before {
		  content : '\2715 \00A0 Decline';
		}

		&:hover {
		  background : $color_nhsuk-light-grey;
		}
	  }

	  &.gv-approval-unapproved {
		background : $color_nhsuk-warm-yellow;

		&:before {
		  content    : '\27F2 \00A0 Reset';
		  background : inherit;
		  color      : $color_nhsuk-black;
		}

		&:hover {
		  background : $color_nhsuk-light-grey;
		}
	  }
	}
  }
}

// Increase contrast on word count under paragraph box, etc.
.gp-word-count-label {
  background : white;
  color      : $color_nhsuk-black;
  padding    : nhsuk-spacing(1);
}

.gf-all-fields { // style up the all-fields summary to look like it should.
  li {
	&.field-type-section {
	  background-color: $color_nhsuk-white;
	  text-align: center;

	  span:empty {
		padding-bottom: 0;
		padding-top: 0;
	  }
	}
	hr.gpnf-nested-entries-hr {
	  display: none;
	}
	table[bgcolor="#EAEAEA"] { // nested forms display.
	  background: inherit;
	  border-top: none !important; // !important required to over ride plugin genertaed inline styling.
	  table[bgcolor="#FFFFFF"] { // nested forms display.

		tr[bgcolor="#FAF4EA"] { // sub form headers. Get rid of nasty orange/tan appearance.
		  background : $color_nhsuk-grey-5;
		  color      : $color_nhsuk-blue;
		  td {
			padding-top: nhsuk-spacing(1);
			padding-bottom: nhsuk-spacing(1);
			font {
			  font-size: $nhsuk-base-font-size !important // !important required to over ride plugin genertaed inline styling.
			}
		  }
		}
		tr[bgcolor="#FFFFFF"] {
		  background : $color_nhsuk-grey-5 !important;
		}
		td:empty {
		  display: none;
		}
	  }
	}
	table.gfcs-value { // chained select displays.
	  td {
		span {
		  border-bottom : none;
		}
	  }
	}
  }
}
@media only screen and (max-width: 641px) {
	.gform_legacy_markup_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
		line-height: 28px !important;
	}
}
