
//Gravity forms gumpfh
.gform_heading {
  .gform_description {
    font-size: 1rem;
    font-weight: $nhsuk-font-bold;
  }
}
.tingle-modal-box {
  .ginput_container_checkbox {
    @extend .nhsuk-checkboxes !optional;
    .gfield_checkbox {
      li {
        @extend .nhsuk-checkboxes__item;
        label {
          @extend .nhsuk-label;
          @extend .nhsuk-checkboxes__label;
          padding-left: 50px;
        }
        input {
          @extend .nhsuk-checkboxes__input;
        }
      }
    }
  }
  .ginput_container_radio {
    @extend .nhsuk-radios !optional;
    .gfield_radio {
      li {
        @extend .nhsuk-radios__item;

        input {
          @extend .nhsuk-radios__input;
        }

        label {
          @extend .nhsuk-label;
          @extend .nhsuk-radios__label;
          padding-left : 50px;
        }
      }
    }
  }
}
.gform_wrapper {
  margin-top: 0 !important;
  .gf_progressbar_wrapper {
    .gf_progressbar {
      border-radius    : $nhsuk-border-radius;
      background-color : $color_nhsuk-white;
      padding: nhsuk-spacing(2);

      .percentbar_blue {
        background-color : $color_nhsuk-blue;
      }

      .gf_progressbar_percentage {
        border-radius : $nhsuk-border-radius;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.3));
        background-color: $color_nhsuk-blue;

        span {
          font-size   : $nhsuk-base-font-size;
          font-family : $nhsuk-font, $nhsuk-font-fallback;
        }
      }

      &:after {
        border-radius : $nhsuk-border-radius;
      }
    }
  }
  .gform_body {
    .address_city, .address_state {
      width: 50%;
      float: left;
    }
    .address_city {
      padding-right: nhsuk-spacing(2);
    }
    .address_state {
      padding-left: nhsuk-spacing(2);
    }
    ul.gform_fields {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }
    .nhsuk-required-message {
      font-weight: $nhsuk-font-bold;
      font-style: italic;
      padding-left: nhsuk-spacing(4);
    }

    .nhsuk-textarea {
      min-height: 200px;
    }

    .gform_hidden {
      display: none;
    }

    .gform_wrapper {

      .gfield_error {
        .nhsuk-select {
          @extend .nhsuk-select--error;
        }
      }
      li.gfield fieldset {
        .nhsuk-textarea {
          width: 100%;
        }
      }

    }
    .gform_next_button {
      @extend .nhsuk-button;
    }
    .gform_previous_button {
      @extend .nhsuk-button;
      @extend .nhsuk-button--reverse;
    }
    ul.ui-sortable {
      list-style-type: none;
    }
    .gsurvey-rating:not(:checked) > label {
      width: 40px;
      height: 40px;
      background-size: 35px 35px;
      font-size: 1.5rem !important;
    }
    .gsurvey-rating > input:checked ~ label {
      background-size: 35px 35px;
      font-size: 1.5rem !important;
    }
    .gsurvey-rating:not(:checked) > label:hover, .gsurvey-rating:not(:checked) > label:hover ~ label {
      background-size: 35px 35px;
    }
    .gsurvey-rating:after {
      clear: both;
    }

    .ginput_container_name, .clear-multi {
      display: flex;
      span, .ginput_container {
        padding: nhsuk-spacing(2) nhsuk-spacing(3) nhsuk-spacing(2) 0;
        &.name-prefix, &.name-first, &.name-middle, &.name-last, &.name_suffix {
          display: flex;
          label {
            padding: 0 nhsuk-spacing(3) 0 nhsuk-spacing(2);
            font-size: 1.25rem;
            color: $color_nhsuk-dark-grey;
          }
        }
      }
    }
    table.gsurvey-likert {
      background: $color_nhsuk-white;
      .gsurvey-likert-row-label, .gsurvey-likert-choice-label {
        font-size: 1rem;
        padding: nhsuk-spacing(2);
        background: $color_nhsuk-blue;
        color: $color_nhsuk-white;
      }
      td.gsurvey-likert-choice, td.gsurvey-likert-choice.gsurvey-likert-selected {
        background-color: $color_nhsuk-white;
        background-size: 35px 35px;
      }
      tr:nth-child(odd) .gsurvey-likert-row-label {
        background: $color_nhsuk-dark-blue;
      }
    }
    .nhsuk-form-group--error {
      table.gsurvey-likert {
        border: $nhsuk-border-width-form-element solid $color_nhsuk-red;
      }
    }
  }
  .gform_page_footer {
    padding-top: nhsuk-spacing(5) !important;
  }
  #ui-datepicker-div {
    border: $nhsuk-border-width-form-element solid $color_nhsuk-blue;
    border-radius: $nhsuk-border-radius;
    background: $color_nhsuk-white;
  }
}
