.nhsuk-header {
  .nhsuk-header__navigation {
    max-width: 100%;
    ul {
      @extend .nhsuk-header__navigation-list;
      overflow: hidden;
      li {
        @extend .nhsuk-header__navigation-item;
        a {
          @extend .nhsuk-header__navigation-link;
          height: 100%;
        }
      }
    }
  }

  .nhsuk-header__search-wrap input[type="text"] {
    border-radius: $nhsuk-border-radius 0px 0px $nhsuk-border-radius;
    padding: 0 12px;
    &:focus {

    }
  }
  .nhsuk-header__content {
    display: flex;
    justify-content: flex-end;
  }

  .nhsuk-header__search {
    margin-left: 10px;
    &-toggle {
      position: relative;
      padding: 6px 8px 0;
    }
  }

  .nhsuk-header__search-toggle,
  .nhsuk-search__close,
  .nhsuk-header__navigation-close,
  .nhsuk-header__menu-toggle{
    box-shadow: none;
  }
  .nhsuk-header__menu-toggle {
    right: unset;
  }
  .autocomplete-container {
    float: left;
  }
  .nhsuk-header__search-wrap input[type="text"] {
    border: none;
    padding: 0 12px;
  }
  .nhsuk-u-visually-hidden {
    color: $color_nhsuk-black;
    background: $color_nhsuk-white;
    padding: nhsuk-spacing(2);
  }
  a.nhsuk-header__transactional-service-name--link {
    font-weight: $nhsuk-font-bold;
    &:hover{
      text-decoration: none;
      background-color: transparent;
    }
  }
  .nhsuk-search__input {
    border-radius: $nhsuk-border-radius 0 0 $nhsuk-border-radius;
    border: 0px;
    width: 15rem;
  }
  &.nhsuk-header--white {
    .nhsuk-header__search-wrap input[type="text"] {
      border: $nhsuk-border-width-form-element solid $nhsuk-border-color;
    }

    a.nhsuk-header__transactional-service-name--link {
      color: $color_nhsuk-blue;
      font-weight: $nhsuk-font-bold;
    }


    .nhsuk-header__menu {
      .nhsuk-header__menu-toggle {
        border: $nhsuk-border-width-form-element solid $color_nhsuk-blue;
        color: $color_nhsuk-blue;
      }

      .nhsuk-header__menu-toggle.is-active {
        color: $color_nhsuk-white;
        border: 0px;
      }
    }

    .nhsuk-search__input {
      border-radius: $nhsuk-border-radius 0 0 $nhsuk-border-radius;
      border: $nhsuk-border-width-form-element solid $color_nhsuk-light-grey;
      border-right: none;
    }

    .nhsuk-header__search-toggle {
      background-color: $color_nhsuk-grey-5;
      border-color: $color_nhsuk-blue;
      box-shadow: none;
      color: $color_nhsuk-blue;

      .nhsuk-icon__search {
        fill: $color_nhsuk-blue;
      }
    }

    .nhsuk-header__search-toggle.is_active {
      background-color: $color_nhsuk-blue;
      color: $color_nhsuk-white;

      .nhsuk-icon__search {
        fill: $color_nhsuk-white;
      }
    }
  }

  .nhsuk-header__menu-toggle {
    margin-right: -nhsuk-spacing(1);
  }

  @media (min-width: 40.0625em) {
    margin-top: 0;
  }
  @media (max-width: 40.0525em) {
    .autocomplete__input {
      height: 52px;
    }

  }
}
.nhsuk-header__container {
  padding-bottom: nhsuk-spacing(3);
  min-height: 80px;
}

.nhsuk-header--transactional {
  .nhsuk-header__search {
    @media (min-width: 40.0625em) {
      height: 1rem;
    }
  }

  .nhsuk-header__link{
    width: auto;
    display: inline-block;
    text-decoration: none;
    height: auto;
  }
}

.nhsuk-header__link:hover .nhsuk-logo{
  box-shadow: none;
}

.nhsuk-header--organisation .nhsuk-header__logo{
  .nhsuk-header__link:hover{

    box-shadow: 0 0 0 4px $nhsuk-link-hover-color;

  }
}
