.nhsuk-header {
  .nhsuk-header__navigation {
	max-width : 100%;

	ul {
	  @extend .nhsuk-header__navigation-list;
	  overflow : hidden;

	  li {
		@extend .nhsuk-header__navigation-item;

		a {
		  @extend .nhsuk-header__navigation-link;
		  height : 100%;

		}
		@media (min-width: 48.0625em) {
		  &:first-of-type {
			a {
			  padding-left : 0;
			}
		  }
		  &:last-of-type {
			a {
			  padding-right : 0;
			}
		  }
		}
	  }
	}
  }

  .nhsuk-header__search-wrap input[type="text"] {
	border-radius : $nhsuk-border-radius 0px 0px $nhsuk-border-radius;
  }


  .nhsuk-header__search-toggle,
  .nhsuk-search__close,
  .nhsuk-header__navigation-close,
  .nhsuk-header__menu-toggle {
	box-shadow : none;
  }



  .nhsuk-header__transactional-service-name {
	a.nhsuk-header__transactional-service-name--link {
	  font-weight : $nhsuk-font-bold;
	  color       : $color_nhsuk-white;

	  &:hover {
		text-decoration  : none;
		background-color : transparent;
		color            : $color_nhsuk-white;
	  }
	}
  }

  .nhsuk-search__input {
	border-radius : $nhsuk-border-radius 0 0 $nhsuk-border-radius;
	border        : $nhsuk-border-width-form-element solid $color_nhsuk-grey-2;
	border-right  : none;
  }

  &.nhsuk-header--white {
	.nhsuk-header__search-wrap input[type="text"] {
	  border : $nhsuk-border-width-form-element solid $nhsuk-border-color;
	}

	a.nhsuk-header__transactional-service-name--link {
	  color       : $color_nhsuk-blue;
	  font-weight : $nhsuk-font-bold;
	}


	.nhsuk-header__menu {
	  .nhsuk-header__menu-toggle {
		border : $nhsuk-border-width-form-element solid $color_nhsuk-blue;
		color  : $color_nhsuk-blue;
	  }

	  .nhsuk-header__menu-toggle.is-active {
		color  : $color_nhsuk-white;
		border : 0px;
	  }
	}

	.nhsuk-header__search-toggle {
	  background-color : $color_nhsuk-grey-5;
	  border-color     : $color_nhsuk-blue;
	  color            : $color_nhsuk-blue;

	  .nhsuk-icon__search {
		fill : $color_nhsuk-blue;
	  }
	}

	.nhsuk-header__search-toggle.is_active {
	  background-color : $color_nhsuk-blue;
	  color            : $color_nhsuk-white;

	  .nhsuk-icon__search {
		fill : $color_nhsuk-white;
	  }
	}
  }

  .nhsuk-header__menu-toggle {
	margin-right : -nhsuk-spacing(1);
  }

  @media (min-width : 40.0625em) {
	margin-top : 0;
  }
  @media (max-width : 40.0525em) {
	.autocomplete__input {
	  height : 56px;
	}

  }



  @media (max-width : 769px) { // desktop breakpoint and below
	.nhsuk-header__menu-toggle:focus, .nhsuk-header__menu-toggle:hover, .nhsuk-header__menu-toggle.is-active, .nhsuk-header__menu-toggle:active, .nhsuk-header__search-toggle:hover, .nhsuk-header__search-toggle:focus, .nhsuk-header__search-toggle.is-active, .nhsuk-header__search-toggle:active {
	  background-color : darken($color_nhsuk-blue, 15%);
	  background       : darken($color_nhsuk-blue, 15%);
	  color            : $color_nhsuk-white;
	}
	.nhsuk-header--white {
	  .nhsuk-header__menu-toggle {
		background-color : $color_nhsuk-white;
		background       : $color_nhsuk-white;
		color            : $color_nhsuk-blue;
	  }
	  .nhsuk-header__menu-toggle:hover, .nhsuk-header__search-toggle:hover, .nhsuk-header__menu-toggle.is-active, .nhsuk-header__menu-toggle:active, .nhsuk-header__search-toggle.is-active, .nhsuk-header__search-toggle:active {
		color            : $color_nhsuk-white;
	  }
	}
	.nhsuk-header__navigation {
	  color      : $color_nhsuk-black;
	  background : $color_nhsuk-white;
	  .nhsuk-icon__close {
		color: $color_nhsuk-blue;
	  }
	}
	.nhsuk-header__navigation ul li a, .nhsuk-header__navigation-link {
	  color: $color_nhsuk-blue;
	}
	.nhsuk-header__navigation, .nhsuk-header__navigation-link:hover, .nhsuk-header .nhsuk-header__navigation ul li a:hover {
	  background-color : #ffffff;
	  background       : #ffffff;
	}
	.nhsuk-icon__search, .nhsuk-header__search-toggle:focus .nhsuk-icon {
	  fill : $color_nhsuk-white;
	}
	.nhsuk-header__container {
	  position: relative;
	  min-height: 110px;
	  .nhsuk-header__logo {
		position: relative;
		top: -10px;
		&+.nhsuk-header__transactional-service-name {
		  position : absolute;
		  top      : 50px;
		}
	  }
	}
  }

  &.nhsuk-header--transactional {
	@media (max-width : 769px) {
	  .nhsuk-header__logo {
		padding : 10px;
	  }

	  .nhsuk-header__transactional-service-name {
		padding : 10px 10px 22px 10px;
	  }
	}


	.nhsuk-header__logo:focus, .nhsuk-header__logo:active, .nhsuk-header__logo:hover {
	  background : inherit;

	  &+.nhsuk-header__transactional-service-name {
		background : inherit;

		a {
		  color : $color_nhsuk-white;
		}
	  }
	}

	.nhsuk-header__transactional-service-name:focus, .nhsuk-header__transactional-service-name:active, .nhsuk-header__transactional-service-name:hover {
	  background : inherit;

	  a {
		color : $color_nhsuk-white;
		text-decoration: none;
	  }
	}
	&.nhsuk-header--white {
	  .nhsuk-header__logo:focus, .nhsuk-header__logo:active, .nhsuk-header__logo:hover {

		&+.nhsuk-header__transactional-service-name {

		  a {
			color : inherit;
		  }
		}
	  }
	  .nhsuk-header__transactional-service-name:focus, .nhsuk-header__transactional-service-name:active, .nhsuk-header__transactional-service-name:hover {
		background : inherit;

		a {
		  color           : inherit;
		}
	  }
	}
  }
}

.nhsuk-header__container {
  padding-bottom : nhsuk-spacing(3);
  min-height     : 80px;
}

.nhsuk-header--transactional {
  .nhsuk-header__search {
	@media (min-width : 40.0625em) {
	  height : 1rem;
	}
  }

  .nhsuk-header__link {
	width           : auto;
	display         : inline-block;
	text-decoration : none;
  }
}
/* end of header.scss include */
