.learndash-wrapper {
  .ld-primary-color {
    color: $color_nhsuk-blue;
  }

  .ld-icon.ld-primary-background, .ld-expand-button {
    background: $color_nhsuk-blue;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    color: $color_nhsuk-black !important;
    text-decoration: none;
  }

  .ld-button, input[type=submit], .ld-item-list-actions .ld-expand-button, .ld-logout, .ld-login {
    @extend .nhsuk-button;
  }

  input[type=submit].learndash_mark_complete_button {
    padding-right: 50px;
  }

  .ld-item-list-actions .ld-expand-button, .ld-logout {
    @extend .nhsuk-button--secondary;
  }

  .sfwd-mark-complete::after {
    top: 33%;
  }

  .ld-status {
    border-radius: 4px;
    border: 2px solid;
    background: $color_nhsuk-white;
    color: $color_nhsuk-black;

    &.ld-status-waiting {
      border-color: $color_nhsuk-red;
    }

    &.ld-status-progress {
      background: $color_nhsuk-white;
      color: $color_nhsuk-blue;
      border-color: $color_nhsuk-blue;
      font-size: 0.75rem;
    }

    &.ld-status-complete {
      background: $color_nhsuk-white;
      color: $color_nhsuk-green;
      border-color: $color_nhsuk-green;
      font-size: 0.75rem;
    }
  }

  .ld-breadcrumbs, .ld-course-status, .ld-item-details {
    .ld-status {
      &.ld-status-progress {
        background: $color_nhsuk-white;
        color: $color_nhsuk-blue;
        border-color: $color_nhsuk-blue;
        font-size: 0.75rem;
      }

      &.ld-status-complete {
        background: $color_nhsuk-white;
        color: $color_nhsuk-green;
        border-color: $color_nhsuk-green;
        font-size: 0.75rem;
      }

      &.ld-status-waiting {
        border-color: $color_nhsuk-red;
      }
    }
  }

  .ld-content-actions {
    .ld-content-action {
      .ld-button:first-of-type {
        @extend .nhsuk-button--reverse;
      }
    }

    a.ld-primary-color {
      @extend .nhsuk-button;
      @extend .nhsuk-button--secondary;
      flex: initial;
      -webkit-box-flex: initial;
      -ms-flex: initial;

      &:hover {
        color: $color_nhsuk-yellow !important;
      }
    }
  }

  .ld-table-list {
    @extend .nhsuk-care-card;

    .ld-primary-color-hover:hover {
      margin: 0 -20px;
      padding: 20px 20px;

      &:hover {
        background: #ffcd60;
      }
    }

    .ld-table-list-header {
      @extend .nhsuk-care-card__heading-container;

      .ld-table-list-title {
        @extend .nhsuk-care-card__heading;
      }
    }

    .ld-table-list-items {
      background: $color_nhsuk-white;
    }
  }

  .ld-item-list {
    .ld-section-heading {
      .ld-search-prompt {
        @extend .nhsuk-button;
        @extend .nhsuk-button--reverse;
      }
    }
    .ld-item-search {
      .ld-closer {
        &:before {
          content: '';
        }
        &:after {
          content: "x";
          margin-left: .25em;
          border-radius: 50%;
          border: 2px solid $color_nhsuk-mid-grey;
          width: 20px;
          height: 20px;
          font-size: 1rem;
          padding: 0px 4px;
          color: $color_nhsuk-mid-grey;
          line-height: 0.9rem;
        }
      }
      .ld-item-search-wrapper {
        background: $color_nhsuk-white;
        border: 2px solid $color_nhsuk-dark-grey;
        &:before {
          width: 0;
          height: 0;
          border-left: 20px solid #f0f4f5;
          border-right: 20px solid #f0f4f5;
          border-bottom: 15px solid $color_nhsuk-dark-grey;
          transform: rotate(0);
          right: 260px;
          top: -17px;
        }
        .ld-item-search-fields {
          .ld-item-search-name {
            top: -30px;
          }
        }
        .ld-item-search-submit {
          .ld-button {
            @extend .nhsuk-button;
          }
        }
      }
    }
    .ld-item-list-item {
      .ld-item-list-item-preview {

        a.ld-item-name:hover {
          background: transparent !important;
        }

        &:hover {
          background: transparent;
          border: 3px solid #ffcd60;
          margin: -3px;
        }
      }
    }
  }

  .ld-progress {
    margin: 1em 0 0;
  }

  .ld-breadcrumbs {
    @extend .nhsuk-breadcrumb;

    .ld-breadcrumbs-segments {
      @extend .nhsuk-breadcrumb__list;
      white-space: unset;

      span {
        @extend .nhsuk-breadcrumb__item;

        a {
          font-weight: 400;
          color: $color_nhsuk-black;
          padding: 10px;
        }

        &:after {
          content: '';
        }
      }
    }
  }

  .ld-modal {
    -webkit-transition: none !important;
    transition: none !important;
  }

  .ld-login-modal {
    .ld-login-modal-form {
      .ld-modal-heading {
        color: $color_nhsuk-blue;
      }

      .login-username, .login-password {
        &::before {
          top: 2em;
        }
      }
    }

    input[type=submit] {
      @extend .nhsuk-button;
      margin-top: 1rem;
    }
  }
}

.single-sfwd-lessons, .single-sfwd-topic {
  nav.nhsuk-breadcrumb {
    display: none;
  }
}
