.learndash-wrapper {

  .learndash_join_button {
    margin-top: 25px;
  }

  .ld-primary-color {
	color : $color_nhsuk-blue;
  }

  a.ld-login-text.ld-login-button:hover {
	color : $color_nhsuk-white !important;
  }

  #ld-user-register {
	color : $color_nhsuk-blue !important;
  }

  .ld-icon.ld-primary-background, .ld-expand-button {
	  @extend .nhsuk-button;
  }
  .ld-expand-button.ld-button-alternate .ld-icon {
	  color : $color_nhsuk-blue !important;
  }

  a {
	text-decoration : underline;
  }

  a:hover {
	color           : $color_nhsuk-black !important;
	text-decoration : none;
  }

  input[type=submit].learndash_mark_complete_button {
	padding-right : nhsuk-spacing(7);
  }

  .sfwd-mark-complete::after {
	top : 33%;
  }

  .ld-status {
	  @extend .nhsuk-tag;
	  border-radius: 0;
	  line-height: 1.0;
	  text-transform: none;
	  &.ld-status-waiting {
		  @extend .nhsuk-tag--yellow;
	  }
  }

  .ld-course-status.ld-course-status-not-enrolled {
	  .ld-course-status-label {
		  font-size: inherit;
		  font-weight: inherit;
		  color: $color_nhsuk-black;
	  }
	  .ld-course-status-price {
		  color: $color_nhsuk-black;
	  }
  }

  .ld-breadcrumbs, .ld-course-status, .ld-item-details {
	.ld-course-status-segment {
	  .ld-course-status-content {
		position: relative;
	  }
	}
  }

  .ld-topic-list.ld-table-list {
	  .ld-table-list-lesson-details {
		  font-size: inherit;
		  line-height: inherit;
	  }
  }

  .ld-tab-content, .ld-table-list {
	margin : 0 16px;
    .ld-table-list-header {
		background-color: $color_nhsuk-blue;
	}
    .ld-table-list-lesson-details {
		.ld-lesson-list-progress {
			text-transform: none;
		}
	}
  }

  .ld-item-list {

	.ld-item-search {
	  .ld-closer {
		&:before {
		  content : '';
		}

		&:after {
		  content       : "x";
		  margin-left   : .25em;
		  border-radius : 50%;
		  border        : $nhsuk-border-width-form-element solid $color_nhsuk-mid-grey;
		  width         : 20px;
		  height        : 20px;
		  font-size     : 1rem;
		  padding       : 0 nhsuk-spacing(1);
		  color         : $color_nhsuk-mid-grey;
		  line-height   : 0.9rem;
		}
	  }

	  .ld-item-search-wrapper {
		background : $color_nhsuk-white;
		border     : $nhsuk-border-width-form-element solid $color_nhsuk-dark-grey;

		&:before {
		  width         : 0;
		  height        : 0;
		  border-left   : nhsuk-spacing(4) solid $color_nhsuk-light-grey;
		  border-right  : nhsuk-spacing(4) solid $color_nhsuk-light-grey;
		  border-bottom : nhsuk-spacing(3) solid $color_nhsuk-dark-grey;
		  transform     : rotate(0);
		  right         : 260px;
		  top           : -17px;
		}

		.ld-item-search-fields {
		  .ld-item-search-name {
			top : -nhsuk-spacing(5);
		  }
		}
	  }
	}

	.ld-item-list-item {
	  .ld-item-list-item-preview {
	    .ld-item-title {
			line-height: nhsuk-spacing(6);
		}
		border : 2px solid transparent;

		&:hover {
		  background : transparent;
		  border     : $nhsuk-border-width-form-element solid $nhsuk-focus-color;
		}
		.ld-status-incomplete.ld-status-icon {
		  border : 2px solid $color_nhsuk-black;
		  content: "\2713";
		}
	  }
	}
  }

  .ld-progress {
	margin : 1em 0;
  }

  .ld-modal {
	-webkit-transition : none !important;
	transition         : none !important;
  }

  .ld-login-modal {
	border: nhsuk-spacing(1) solid $color_nhsuk-grey-5;
	input[type="text"], input[type="password"] {
	  background: $color_nhsuk-white;
	  border-color: $color_nhsuk-grey-1;
	}
	label {
	  text-align    : left;
	  color         : $color_nhsuk-white;
	  margin-bottom : nhsuk-spacing(2);
	}
	input[type="checkbox"] {
	  cursor: pointer;
	  height: nhsuk-spacing(5);
	  left: 0;
	  width: nhsuk-spacing(5);
	  z-index: 1;
	  position: relative;
	  top: nhsuk-spacing(2);
	  margin-right: nhsuk-spacing(3);
	}

	  .ld-login-modal-register {
		background: $color_nhsuk-dark-blue;
		#registerform {
		  color: $color_nhsuk-white;
		  font-size: $nhsuk-base-font-size;
		  #wp-submit {
			border-radius: nhsuk-spacing(1);
			border-width: 0;
			background: $color_nhsuk-white;
			color: $color_nhsuk-black;
		  }
		}

	  }

	.ld-login-modal-login {
		.ld-modal-heading {
		  color : $color_nhsuk-dark-blue;
		}

		#loginform {

		  .login-username, .login-password {
			&::before {
			  display: none;
			}
		  }
		}
	}

	input[type=submit] {
	  margin-top : nhsuk-spacing(2);
	  background: $color_nhsuk-green;
	  border-radius: 4px;
	  font-size: 1rem;
	}

	.ld-button.ld-button-reverse.ld-js-register-account {
	  color         : #212b32;
	  border-radius : 4px;
	  box-shadow    : 0 4px 0 #00401e;
	}
  }

  .nhsuk-mark-complete {
	padding-right: nhsuk-spacing(5);
  }
}

nav.learndash-pager {
  background: none;
  color: $color-nhsuk_black;
  width: 100%;
  ul {
	list-style: none;
	display: block;
	margin: 0 auto;
	li {
	  float: left;
	  margin-right: nhsuk-spacing(3);
	  a.nhsuk-tag {
		color: $color-nhsuk_white;
		&.focus-visible {
		  color: $color-nhsuk_black;
		  border: nhsuk-spacing(1) solid $color-nhsuk_black !important; // needs !important tag to over-ride learndash plugin config
		}
		&.nhsuk-tag--white {
		  color: $color-nhsuk_dark-blue;
		}
	  }
	}
  }
}

.ld-course-list-items {

  .ld_course_grid {

	article {
	  display: flex !important;
	  flex-direction: column;
	  height: 100%;

  	  .caption {
		  height: 100%;
		  display: flex;
		  flex-direction: column;

		  .entry-title {
			  order: 1;
		  }
		  .learndash-widget {
			  order: 2;
			  margin-top: auto;
		  }
		  .ld_course_grid_button {
			  order: 3;
			  margin-top: auto;
		  }
	  }

	  .nhsuk-action-link {
		text-align: left;
		padding: nhsuk-spacing(2);
		margin-top: auto !important;
		margin-bottom: nhsuk-spacing(2);
  	  }

  	  .ld_course_grid_button {
  	    text-align : center;

		&nhsuk-action-link__link {
		  text-align : left;
		  position   : relative;
   		}

        .btn, .btn-primary {
		  .email-address:after {
		    content: '<span class="nhsuk-u-visually-hidden" aria-hidden="true"></span>';
		  }
		  margin-bottom: 0;
		}
	  }
	}

	.thumbnail.course {
	  margin-bottom  : nhsuk-spacing(5);
	  position       : relative;

	  .ld_course_grid_price {
		background : $color_nhsuk-green !important;

		&:before {
		  border-top   : 4px solid $color_nhsuk-dark-grey;
		  border-right : 4px solid $color_nhsuk-dark-grey;
		}

		&.ribbon-enrolled {
		  background : $color_nhsuk-blue;

		  &:before {
			border-top   : 4px solid $color_nhsuk-dark-blue;
			border-right : 4px solid $color_nhsuk-dark-blue;
		  }
		}

		&.free {
		  background : $color_nhsuk-green;

		  &:before {
			border-top   : 4px solid $color_nhsuk-dark-green;
			border-right : 4px solid $color_nhsuk-dark-green;
		  }
		}
	  }
	}
  }
}

.single-sfwd-courses {
  article.sfwd-courses {
	img.wp-post-image {
	  display : none;
	}
  }
}

#ld_course_categorydropdown {
  padding-bottom : nhsuk-spacing(4);

  #ld_course_categorydropdown_select {
	height : 40px;
  }

  label {
	padding-right : 10px;
  }
}
