.learndash-wrapper {
  .ld-primary-color {
    color: $color_nhsuk-blue;
  }

  .ld-icon.ld-primary-background, .ld-expand-button, .ld-expand-button.ld-button-alternate .ld-icon {
    background: $color_nhsuk-blue;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    color: $color_nhsuk-black !important;
    text-decoration: none;
  }

  .ld-button, input[type=submit], .ld-item-list-actions .ld-expand-button, .ld-logout, .ld-login {
    @extend .nhsuk-button;
  }

  input[type=submit].learndash_mark_complete_button {
    padding-right: 50px;
  }

  .ld-item-list-actions .ld-expand-button, .ld-logout {
    @extend .nhsuk-button--secondary;
  }

  .sfwd-mark-complete::after {
    top: 33%;
  }

  .ld-status {
    @extend .nhsuk-pill-standard;

    &.ld-status-waiting {
      border-color: $color_nhsuk-red;
    }

    &.ld-status-progress {
      @extend .nhsuk-pill-notice;
    }

    &.ld-status-complete {
      @extend .nhsuk-pill-success;
    }
  }

  .ld-breadcrumbs, .ld-course-status, .ld-item-details {
    .ld-status {
      &.ld-status-progress {
        @extend .nhsuk-pill-notice;
      }

      &.ld-status-complete {
        @extend .nhsuk-pill-success;
      }

      &.ld-status-waiting {
        @extend .nhsuk-pill-warn;
      }
    }
  }

  .ld-content-actions {
    .ld-content-action {
      .ld-button:first-of-type {
        @extend .nhsuk-button--reverse;
      }
    }

    a.ld-primary-color {
      @extend .nhsuk-button;
      @extend .nhsuk-button--secondary;
      flex: initial;
      -webkit-box-flex: initial;
      -ms-flex: initial;

      &:hover {
        color: $color_nhsuk-yellow !important;
      }
    }
  }

  .ld-table-list {
    @extend .nhsuk-care-card;

    .ld-primary-color-hover:hover {
      margin: 0 -20px;
      padding: 20px 20px;

      &:hover {
        background: #ffcd60;
      }
    }

    .ld-table-list-header {
      @extend .nhsuk-care-card__heading-container;

      .ld-table-list-title {
        @extend .nhsuk-care-card__heading;
      }
    }

    .ld-table-list-items {
      background: $color_nhsuk-white;
      font-size: 1rem;
    }
  }

  .ld-item-list {
    .ld-section-heading {
      .ld-search-prompt {
        @extend .nhsuk-button;
        @extend .nhsuk-button--reverse;
      }
    }

    .ld-item-search {
      .ld-closer {
        &:before {
          content: '';
        }

        &:after {
          content: "x";
          margin-left: .25em;
          border-radius: 50%;
          border: 2px solid $color_nhsuk-mid-grey;
          width: 20px;
          height: 20px;
          font-size: 1rem;
          padding: 0px 4px;
          color: $color_nhsuk-mid-grey;
          line-height: 0.9rem;
        }
      }

      .ld-item-search-wrapper {
        background: $color_nhsuk-white;
        border: 2px solid $color_nhsuk-dark-grey;

        &:before {
          width: 0;
          height: 0;
          border-left: 20px solid #f0f4f5;
          border-right: 20px solid #f0f4f5;
          border-bottom: 15px solid $color_nhsuk-dark-grey;
          transform: rotate(0);
          right: 260px;
          top: -17px;
        }

        .ld-item-search-fields {
          .ld-item-search-name {
            top: -30px;
          }
        }

        .ld-item-search-submit {
          .ld-button {
            @extend .nhsuk-button;
          }
        }
      }
    }

    .ld-item-list-item {
      .ld-item-list-item-preview {

        a.ld-item-name:hover {
          background: transparent !important;
        }

        &:hover {
          background: transparent;
          border: 3px solid #ffcd60;
          margin: -3px;
        }
      }
    }
  }

  .ld-progress {
    margin: 1em 0 0;
  }

  ld-breadcrumbs {
    @extend .nhsuk-breadcrumb;

    .ld-breadcrumbs-segments {
      @extend .nhsuk-breadcrumb__list;
      white-space: nowrap;
      overflow: hidden;

      span {
        @extend .nhsuk-breadcrumb__item;
        display: inline;

        a {
          font-weight: 400;
          color: $color_nhsuk-black;
          padding: 10px;
        }

        &:after {
          content: '';
        }
      }
    }
  }

  .ld-modal {
    -webkit-transition: none !important;
    transition: none !important;
  }

  .ld-login-modal {
    .ld-login-modal-form {
      .ld-modal-heading {
        color: $color_nhsuk-blue;
      }

      .login-username, .login-password {
        &::before {
          top: 2em;
        }
      }
    }

    input[type=submit] {
      @extend .nhsuk-button;
      margin-top: 1rem;
    }
  }

  /*
  Style wpProQuiz
   */
  .wpProQuiz_content {
    .wpProQuiz_button {
      @extend .nhsuk-button;
    }

    .wpProQuiz_QuestionButton {
      @extend .nhsuk-button--secondary;
    }

    .wpProQuiz_TipButton {
      @extend .nhsuk-button--reverse;
    }
    input[type="text"] {
      @extend .nhsuk-input;
      background: $color_nhsuk-white;
      border-radius: 4px;
      border: 1px solid $color_nhsuk-black;
    }
    textarea {
      @extend .nhsuk-textarea;
      min-height: 10rem;
      background: $color_nhsuk-white;
      border-radius: 4px;
      border: 1px solid $color_nhsuk-black;
    }
    .wpProQuiz_questionList {
      .wpProQuiz_questionListItem {
        .wpProQuiz_cloze {
          background: $color_nhsuk-white;
          border-radius: 4px;
          border: 1px solid $color_nhsuk-black;
        }
        .nhsuk-radios__item:last-of-type {
          margin-bottom: 8px;
        }
        label {
          border: 0;
          padding: 0;
          padding-top: 0.5rem;
          padding-left: 1rem;
        }
      }
    }
  }

  /*
  Change the learndash green to the NHS green
   */
  #btn-join.ld-button-transparent.ld-status-complete,
  .btn-join.ld-button-transparent.ld-status-complete,
  .ld-button.ld-button-transparent.ld-status-complete,
  #learndash_mark_complete_button.ld-button-transparent.ld-status-complete,
  .learndash_mark_complete_button.ld-button-transparent.ld-status-complete,
  .ld-item-list .ld-item-search .ld-item-search-fields .ld-item-search-submit .ld-button.ld-button-transparent.ld-status-complete,
  .ld-item-list .ld-item-list-item .ld-item-details .ld-certificate-link,
  .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage,
  .ld-progress .ld-progress-bar .ld-progress-bar-percentage,
  .ld-score.score-high,
  .ld-expand-button.ld-button-transparent.ld-status-complete,
  .ld-status-icon.ld-quiz-complete,
  .ld-item-icon.ld-quiz-complete,
  .wpProQuiz_content .wpProQuiz_button.ld-button-transparent.ld-status-complete,
  .wpProQuiz_content .wpProQuiz_button2.ld-button-transparent.ld-status-complete,
  .wpProQuiz_content a#quiz_continue_link.ld-button-transparent.ld-status-complete,
  .wpProQuiz_content form[name=uploadEssay] input[type=submit].ld-button-transparent.ld-status-complete,
  #wpProQuiz_overlay_close.ld-button-transparent.ld-status-complete,
  .ld-alert-success,
  .ld-focus .ld-focus-header #sfwd-mark-complete:after,
  .ld-focus .ld-focus-header .sfwd-mark-complete:after,
  .ld-focus .ld-focus-header #sfwd-mark-complete #learndash_mark_complete_button,
  .ld-focus .ld-focus-header #sfwd-mark-complete .learndash_mark_complete_button,
  .ld-focus .ld-focus-header .sfwd-mark-complete #learndash_mark_complete_button,
  .ld-focus .ld-focus-header .sfwd-mark-complete .learndash_mark_complete_button,
  .ld-focus .ld-focus-header #sfwd-mark-complete #learndash_mark_complete_button.ld-status-complete,
  .ld-focus .ld-focus-header #sfwd-mark-complete .learndash_mark_complete_button.ld-status-complete,
  .ld-focus .ld-focus-header .sfwd-mark-complete #learndash_mark_complete_button.ld-status-complete,
  .ld-focus .ld-focus-header .sfwd-mark-complete .learndash_mark_complete_button.ld-status-complete,
  .ld-focus-comments .form-submit #submit.ld-button-transparent.ld-status-complete,
  .ld-focus-comment .ld-comment-reply a.comment-reply-link.ld-button-transparent.ld-status-complete {
    color: $color_nhsuk-green !important;
    background: $color_nhsuk-white;
    .ld-button {
      max-width: unset;

    }
  }

  .ld-certificate-icon,
  #quiz_continue_link,
  .course_progress .sending_progress_bar,
  .wpProQuiz_content a#quiz_continue_link,
  .wpProQuiz_content .wpProQuiz_questionListItem.wpProQuiz_answerCorrect label,
  .wpProQuiz_content .wpProQuiz_questionListItem.wpProQuiz_answerCorrect .wpProQuiz_sortable,
  .wpProQuiz_content .wpProQuiz_questionListItem.wpProQuiz_answerCorrect > table td .wpProQuiz_maxtrixSortCriterion,
  .wpProQuiz_content .wpProQuiz_questionListItem.wpProQuiz_answerCorrect > table td .wpProQuiz_maxtrixSortText,
  .wpProQuiz_content .wpProQuiz_time_limit .wpProQuiz_progress,
  .ld-alert-success .ld-alert-icon,
  .ld-alert-success .ld-button,
  .ld-course-status .ld-status.ld-status-complete {
    background-color: $color_nhsuk-green !important;
    color: $color_nhsuk-white;
    max-width: unset;
    &:hover {
      color: $color_nhsuk-green !important;
      background-color: $color_nhsuk-white !important;
      border: 2px solid $color_nhsuk-green !important;
    }
  }

  .wpProQuiz_content .wpProQuiz_questionListItem.wpProQuiz_answerCorrect > table td .wpProQuiz_maxtrixSortCriterion,
  .wpProQuiz_content .wpProQuiz_questionListItem.wpProQuiz_answerCorrect > table td .wpProQuiz_maxtrixSortText,
  .ld-alert-success {
    border-color: $color_nhsuk-green !important;
  }

  .ld-status-in-progress,
  .ld-course-navigation .ld-status-icon.ld-status-in-progress {
    border-left-color: $color_nhsuk-green !important;
    border-top-color: $color_nhsuk-green !important;
  }
}


.nhsuk-breadcrumb {
  .sfwd-breadcrumbs {
    @extend .nhsuk-breadcrumb__list;

    span {
      @extend .nhsuk-breadcrumb__item;

      &.sep {
        display: none;
      }

      a {
        span {
          padding-right: 0;
        }
      }
    }
  }
}

.ld-course-list-items {
  @extend .nhsuk-panel-group;

  .ld_course_grid {
    @extend .nhsuk-panel-group__item;

    article {
      @extend .nhsuk-panel-group;
      position: relative;
      padding-bottom: 120px;

      .ld_course_grid_button {
        text-align: center;
        position: absolute;
        bottom: 30px;
        width: 85%;

        .btn, .btn-primary {
          @extend .nhsuk-button;
          @extend .nhsuk-button--secondary;
          text-align: center;
        }
      }
      .learndash-widget {
        position: absolute;
        bottom: 10px;
        width: 90%;
      }
    }

    .thumbnail.course {

      position: relative;
      padding-bottom: 120px;
      .ld_course_grid_price {
        background: $color_nhsuk-grey-4;

        &:before {
          border-top: 4px solid $color_nhsuk-dark-grey;
          border-right: 4px solid $color_nhsuk-dark-grey;
        }

        &.ribbon-enrolled {
          background: $color_nhsuk-blue;

          &:before {
            border-top: 4px solid $color_nhsuk-dark-blue;
            border-right: 4px solid $color_nhsuk-dark-blue;
          }
        }

        &.free {
          background: $color_nhsuk-green;

          &:before {
            border-top: 4px solid $color_nhsuk-dark-green;
            border-right: 4px solid $color_nhsuk-dark-green;
          }
        }

      }
    }

  }
}

.single-sfwd-courses {
  article.sfwd-courses {
    img.wp-post-image {
      display: none;
    }
  }
}
