.nhsuk-promo-group__item {
  margin-bottom: 36px;
}

.nhsuk-panel-with-label {
  width: 100%;

  .nhsuk-panel-with-label__label {
    a, a:visited {
      color: $color_nhsuk-white;
      text-decoration: none;
    }
  }

  .entry-footer {
    span {
      padding: 0 10px;
    }
  }
}

//Dashboard group extended from panel group
.nhsuk-dashboard {
  .nhsuk-panel-group__item {
    overflow: hidden;
    margin-bottom: 2rem;


    .nhsuk-promo__link-wrapper {
      background: inherit;
      box-shadow: none;

      .nhsuk-panel-with-label {
        background: inherit;
        margin: 0;
        padding: 0;
        background-size: cover;
        position: relative;
        padding-top: 33.33%;

        .nhsuk-panel-with-label__label {
          z-index: 2;
          top: 0;
          margin: 0 -20px;
          position: absolute;
          top: 50%;
          left: 10%;
          max-width: 90%;
          font-size: 1.1rem;
        }

        .nhsuk-dashboard__image {
          width: 100%;
          height: 100%;
        }
        .nhsuk-promo__img {
          position: relative;
          top: -16px;
          z-index: 1;
        }

      }
    }
  }

  .nhsuk-grid-column-full-width {
    max-height: 300px;
  }

  .nhsuk-grid-column-one-half {
    max-height: 250px;
  }

  .nhsuk-grid-column-one-third, .nhsuk-grid-column-two-thirds {
    max-height: 200px;
  }

}
// promo box tweak
.nhsuk-promo {
  img.nhsuk-promo__img {
    padding: 10px;
  }
}

//reversed quote tweak
.nhsuk-inset-text--rev, .is-style-quote-reverse {
  background: $color_nhsuk-blue;
  border: 10px solid $color_nhsuk-blue;
  box-shadow: inset 12px 0px 0px 0px $color_nhsuk-white;
  box-sizing: border-box;
  padding-left: 30px;
  margin: 1rem 0;
  color: $color_nhsuk-white;
  width: 100%;
}
