// Core
@mixin _nhsuk-font-face-frutiger {
 // added in here to prevent compile error
}
// Settings
@import 'core/settings/all';

// Tools
@import 'core/tools/all';

// Generic
@import 'core/generic/box-sizing';

// Elements
@import 'core/elements/forms';
@import 'core/elements/links';
@import 'core/elements/page';
@import 'core/elements/table';

// Objects
@import 'core/objects/form-group';
@import 'core/objects/grid';
@import 'core/objects/main-wrapper';
@import 'core/objects/width-container';

// Styles
@import 'core/styles/icons';
@import 'core/styles/lists';
@import 'core/styles/section-break';
@import 'core/styles/typography';

// Utilities
@import 'core/utilities/clearfix';
@import 'core/utilities/grid-widths';
@import 'core/utilities/link-nowrap';
@import 'core/utilities/reading-width';
@import 'core/utilities/spacing';
@import 'core/utilities/typography';
@import 'core/utilities/visually-hidden';
@import 'core/utilities/widths';

// Components
@import 'components/action-link/action-link';
@import 'components/back-link/back-link';
@import 'components/breadcrumb/breadcrumb';
@import 'components/button/button';
@import 'components/card/card';
@import 'components/care-card/care-card';
@import 'components/checkboxes/checkboxes';
@import 'components/contents-list/contents-list';
@import 'components/date-input/date-input';
@import 'components/details/details';
@import 'components/do-dont-list/do-dont-list';
@import 'components/error-message/error-message';
@import 'components/error-summary/error-summary';
@import 'components/fieldset/fieldset';
@import 'components/hero/hero';
@import 'components/hint/hint';
@import 'components/images/images';
@import 'components/input/input';
@import 'components/inset-text/inset-text';
@import 'components/label/label';
@import 'components/list-panel/list-panel';
@import 'components/nav-a-z/nav-a-z';
@import 'components/pagination/pagination';
@import 'components/radios/radios';
@import 'components/select/select';
@import 'components/skip-link/skip-link';
@import 'components/summary-list/summary-list';
@import 'components/tables/tables';
@import 'components/tag/tag';
@import 'components/textarea/textarea';
@import 'components/warning-callout/warning-callout';
