/*
// variations to styling required for gutenberg native blocks
// @author Tony Blacker, NHS Leadership Academy
// @version 1.1 12th October 2019
*/

.nhsuk-grid-column-full > :first-child {
  padding-left: 0px !important;
}

.nhsuk-grid-column-full > :last-child {
  padding-right: 0px !important;
}


.nhsuk-header__search-wrap {
  input[type="text"] {
    border: 1px solid #cccccc;
  }
}


/* Latest Posts skinning */
.nightingale-latest-news {
  .nhsuk-panel {
    margin-bottom: 20px;
    a {
      @extend .nhsuk-heading-m;
      text-decoration: none;
    }

    .wp-block-latest-posts__post-excerpt {
      a:last-of-type {
        @extend .nhsuk-action-link__link;
        margin-top: 30px;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
.nhsuk-grid-column-width, .nhsuk-grid-column-full {
  clear: both;
}

/* login form customisation */
#login {
  padding-top: 0 !important;
  width: 90%;
  #loginform {
    margin-top: 0;
    box-shadow: none;
    #wp-submit {
      @extend .nhsuk-button;
      height: auto;
    }

    .user-login, .user_pass {
      @extend .nhsuk-input;
    }

    label {
      @extend .nhsuk-label;
    }
  }
}
