/*
// variations to styling required for gutenberg native blocks
// @author Tony Blacker, NHS Leadership Academy
// @version 1.1 12th October 2019
*/

.nhsuk-search__submit {
  box-shadow: none;
  color: #005eb8;
}
.nhsuk-header__search-form {
  .nhsuk-u-visually-hidden {
    background: #ffffff;
    color: #000000;
  }
}


.nhsuk-grid-column-two-thirds.contentright {
  float: right;
  padding: 0 nhsuk-spacing(3) 0 nhsuk-spacing(3);
}
.nhsuk-grid-column-two-thirds.contentleft {
  padding: 0 nhsuk-spacing(3) 0 nhsuk-spacing(3);
}

.nhsuk-grid-column-full{
  padding: 0;
}
.nhsuk-grid-column-one-third, .nhsuk-grid-column-one-half, .nhsuk-grid-column-one-quarter {
  flex-flow: wrap;
}

.nhsuk-breadcrumb {
  .nhsuk-width-container {
    .nhsuk-breadcrumb__list {
      margin: 0 nhsuk-spacing(3) 0 0;
    };
  }
}

/* Latest Posts skinning */
.nightingale-latest-news {
  .nhsuk-panel {
    margin-bottom: nhsuk-spacing(3);
    a {
      @extend .nhsuk-heading-m;
      //text-decoration: none;
    }

    .wp-block-latest-posts__post-excerpt {
      a:last-of-type {
        @extend .nhsuk-action-link__link;
        margin-top: nhsuk-spacing(5);
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
.nhsuk-grid-column-width, .nhsuk-grid-column-full {
  clear: both;
}

/* login form customisation */
#login {
  padding-top: 0 !important;
  width: 90%;
  #loginform {
    margin-top: 0;
    box-shadow: none;
    #wp-submit {
      @extend .nhsuk-button;
      height: auto;
    }

    .user-login, .user_pass {
      @extend .nhsuk-input;
    }

    label {
      @extend .nhsuk-label;
    }
  }
}

/* Extra Blog Styles */

.nhsuk-promo img.nhsuk-promo__img {
    padding: 0;
}

.nhsuk-promo__link-wrapper:hover {
    background-color: $color_nhsuk-white;
    box-shadow: 0 0 0 nhsuk-spacing(1) $nhsuk-link-hover-color;
    color: $color_nhsuk-blue;
}

.nhsuk-grid-column-two-thirds.archive,
.nhsuk-grid-column-two-thirds.index{
  padding: 0 nhsuk-spacing(3) 0 0;
}

aside#secondary > section{
  margin-top: 0;
}

.nhsuk-icon__arrow-right-circle{
  vertical-align: middle;
}

.navigation{
  position: relative;
}
.nhsuk-pagination-item--previous,
.nhsuk-pagination-item--next{
  position: relative;
  z-index: 5;
}

.nhsuk-pagination-numbers{

  clear: both;
  text-align: center;
  border-top: 1px solid $color_nhsuk-grey-3;
  padding-top: nhsuk-spacing(2);

  @media (min-width: 768px) {
    border: none;
    position: absolute;
    width: 100%;
    padding-top: 0;
  }

  a,
  span{
    display: inline-block;
    padding: 0px nhsuk-spacing(1);
    margin: 0 nhsuk-spacing(1);
    //text-decoration: none;
  }
}

.nhsuk-postslisting {
  .nhsuk-promo {
    a.nhsuk-promo__link-wrapper {
      div.nhsuk-promo__content {
        .nhsuk-promo__heading {
          width : 100%;
        }

        .nhsuk_post_author, .nhsuk_post_date {
          padding : 0 nhsuk-spacing(4);
        }

        .nhsuk-promo__description, p {
          padding : nhsuk-spacing(3);
        }
        .event-meta, .tribe-common, .event-categories {
          padding : 0 nhsuk-spacing(3);
          margin-bottom: 0;
          color : $color_nhsuk-dark-blue;
        }
        .nhsuk-readmore ~ .event-categories {
          margin-bottom: nhsuk-spacing(7);
        }
        .nhsuk-promo__description, p {
          margin-bottom : nhsuk-spacing(5);
        }

        .nhsuk-readmore {
          position : absolute;
          bottom   : nhsuk-spacing(3);
          right    : 0;
        }
      }
    }
  }
}
.clear{
  @include clearfix();
}
.nhsuk-readmore {
  text-align: right;
  padding-bottom: nhsuk-spacing(3);
}

@media (max-width: 48.0525em) {
  #socialfloating {
    display: none;
  }
}

// social embed floating fix
@media (min-width: 48.0525em) {
  figure.wp-block-embed.wp-block-embed {
    &.alignright {
      margin : 0 0 0 nhsuk-spacing(3);
      width  : 33%;
    }

    &.alignleft {
      margin : 0 nhsuk-spacing(3) 0 0;
      width  : 33%;
    }
  }
}
@media (max-width: 48.0525em) {
  figure.wp-block-embed.wp-block-embed {
    &.alignright, &.alignleft {
      display: contents;
    }
  }
}

// highlight search terms on results page
span.search-terms {
  font-weight: bold;
  background: $color_nhsuk-warm-yellow;
}
