/*
// variations to styling required for gutenberg native blocks
// @author Tony Blacker, NHS Leadership Academy
// @version 1.0 22nd July 2019
*/
/* button extension*/
.is-style-secondary { /* secondary button style*/
  @extend .nhsuk-button--secondary;
}
.is-style-reverse { /* reverse button style*/
  @extend .nhsuk-button--reverse;
}
/* reveal extension*/
.is-style-expander { /* expander reveal style*/
  @extend .nhsuk-expander;
}
/*care card extension*/
.is-style-urgent { /* urgent infocard*/
  @extend .nhsuk-care-card--urgent;
}
.is-style-immediate { /* urgent infocard*/
  @extend .nhsuk-care-card--immediate;
}
/*panel extension*/
.is-style-panel-grey {
    @extend .nhsuk-panel--grey;
}
.is-style-panel-with-label {
    @extend .nhsuk-panel-with-label;

    h3, h3 .rich-text {
      @extend .nhsuk-panel-with-label__label;
  }
}
/* promo extension */
.is-style-promo-small {
  @extend .nhsuk-promo--small;
}
/*do and dont list extension*/
.nhsuk-do-dont-list {

    svg.nhsuk-icon {
      width: 35px;
      height: 34px;
    }

}

.wp-block-nhsblocks-panel1 {
  .paneltext {
    display: flow-root;
  }
}

